{% extends 'base.html' %}
{% block title %}Diary Index{% endblock %}
{% block header %}
    <h1>Diary List</h1>
    <nav>
        <a href="{% url 'diary:create' %}">New Diary</a>
    </nav>
{% endblock %}
{% block content %}
    <section>
        <h2>All Diaries</h2>
        <ul>
            {% for page in page_list %}
                <li>
                    <strong>{{ page.page_date }}</strong>: 
                    <a href="{% url 'diary:detail' page.id %}">{{ page.title }}</a>
                </li>
            {% empty %}
                <div class="empty-message">No Diary Now.</div>
            {% endfor %}
        </ul>
    </section>
{% endblock %}